.Itemheading {
  font-size: 18px;
  color: #fbfbfd;
}
.todoItem {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  background-color: rgba(31, 41, 51, 0.8);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.truncate {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
}
.titil-status {
  display: flex;
  align-items: center;
}
.status {
  margin-left: 20px;
  margin-bottom: 3px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
